[ ca ]
default_ca      = CA_default

[ CA_default ]
serial = ca-serial
crl = ca-portal-crl.pem
database = ca-portal-database.txt
name_opt = CA_default
cert_opt = CA_default
default_crl_days = 9999
default_md = md5

[ req ]
default_bits           = 4096
days                   = 9999
distinguished_name     = req_distinguished_name
attributes             = req_attributes
prompt                 = no
output_password        = portal1234

[ req_distinguished_name ]
C                      = US
ST                     = NY
L                      = New York
O                      = Portal
OU                     = Engineering
CN                     = ca
emailAddress           = certs@portal.com

[ req_attributes ]
challengePassword      = portal1234